
body {
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    width: 50vw;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 7px 20px hsla(0, 0%, 0%, 0.306);
}

.rollDiceBtn {
    background-color: rgb(184, 69, 69);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.25s ease;
}

.rollDiceBtn:hover {
    background-color: rgb(106, 14, 14);
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.306);
    cursor: pointer;
}

.numOfDice {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    border: 2px solid rgb(184, 69, 69);
    border-radius: 5px;
    width: 200px;
    height: 20px;
    padding: 5px 0;
}

.numLabel {
    font-size: 1.3rem;
    font-weight: bold;
}

.diceResult {
    font-size: 1.2rem;
}

.diceImages img {
    height: 100px;
    width: 100px;
    margin: 5px;
}

