
body {
    font-family: 'Orbitron', sans-serif;
    background-color: hsl(222, 52%, 85%);
    height: 100vh;
    margin: 0;
}

#playBox {
    width: 200px;
    height: 200px;
    background-color: hsl(240, 58%, 55%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    border-radius: 10px;
    position: relative;
}





