
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.converterContainer {
    width: 40vw;
    display: block;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 7px 20px hsla(0, 0%, 0%, 0.349);
}

.header {
    display: block;
    font-size: 30px;
    text-align: center;
    margin: 20px;
    color: rgb(203, 33, 62);
}

.mainContainer {
    display: block;
    text-align: center;
}

.userTemp {
    margin-bottom: 10px;
    height: 30px;
    text-align: center;
    font-size: 20px;
}

.radioBtns {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 700;
}

.submitBtn {
    background-color: rgb(207, 85, 105);
    color: white;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.25s ease;
}

.submitBtn:hover {
    background-color: rgb(203, 33, 62);
    cursor: pointer;
    box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.349);
}

.result {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

