
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

#header {
    display: block;
    font-size: 200px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.buttons {
    text-align: center;
}

.btn {
    background-color: limegreen;
    color: white;
    padding: 10px 15px;
    margin: 1px;
    font-size: 20px;
    border-radius: 5px;
    transition: background-color 0.25s ease;
}

.btn:hover {
    background-color: green;
    cursor: pointer;
}