
body {
    font-family: 'Orbitron', sans-serif;
    background-color: hsl(221, 11%, 29%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#submitBtn {
    height: 50px;
    width: 200px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top : 20px;
}

#submitBtn:hover {
    background-color: rgb(143, 141, 141);
}

#submitBtn:active {
    background-color: rgb(199, 158, 158);
}

#myImg {
    height: 500px;
    width: 500px;
}





