
body {
    font-family: Arial, sans-serif;
    background-color: hsl(221, 53%, 83%);
    height: 100vh;
}

#imageContainer {
    border: 2px solid black;
    width: 80vw;
    height: 800px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

#imageContainer button {
    width: 60px;
    height: 40px;
    font-weight: bold;
    color: white;
    background-color: hsla(0, 0%, 70%, 0.4);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: absolute;
}

#imageContainer button:hover {
    background-color: hsl(0, 0%, 50%);
}

#imageContainer button:active {
    background-color: hsl(0, 0%, 90%);
}

#imageContainer #nextBtn {
    right: 0;
}

#imageContainer img {
    height: 100%;
    width: 100%;
}




