
body {
    font-family: 'Orbitron', sans-serif;
    background-color: hsl(222, 45%, 9%);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#header {
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 20px;
    color: hsl(179, 98%, 45%);
}

#clock-container {
    border: 4px solid hsl(179, 98%, 45%);
    border-radius: 10px;
    width: 30vw;
    height: 15vh;
    padding: 20px;
    background-color: hsl(222, 45%, 9%);
}

#clock {
    color: hsl(179, 98%, 45%);
    font-size: 3rem;
    font-family: monospace;
    text-align: center;
    text-shadow: 2px 2px 2px hsla(179, 98%, 45%, 0.733);
}

/* green red blue */
#btn-container {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#startBtn,
#stopBtn,
#resetBtn {
    width: 100px;
    height: 40px;
    border: 2px solid hsl(179, 98%, 45%);
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: hsl(222, 45%, 9%);
    color: white;
    margin: 20px 5px;
    transition: background-color 0.5s ease;
}

#startBtn:hover,
#stopBtn:hover,
#resetBtn:hover {
    background-color: hsl(179, 98%, 45%);
    color: hsl(222, 45%, 9%);
}



